<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="container">
      <div class="left-container">
        <div class="item-container">
          <div class="item first-item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
        </div>
        <div class="left-btn-container"></div>
      </div>
      <div class="mid-container">
        <div class="wrapper">
          <div class="mid-box"></div>
          <div class="mid-box"></div>
          <div class="mid-box"></div>
        </div>
      </div>
      <div class="right-container">
        <div class="right-box1"></div>
        <div class="right-box2"></div>
        <div class="right-box3"></div>
      </div>
    </div>
  </body>
</html>
