<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="container">
      <div class="nav-container">
        <div class="youtube"></div>
        <div class="search"></div>
        <div class="boxes-nav">
          <div class="square-box"></div>
          <div class="square-box"></div>
          <div class="nav-circle"></div>
        </div>
      </div>

      <div class="video-side-container">
        <div class="video-other-comments-container">
          <div class="video"></div>
          
          <div class="title-like-comment-container">
            
            <div class="video-title"></div>
            <div class="like-share">
              <div class="subscribe-container">
                <div class="icon"></div>
                <div class="icon-next-box"></div>
                <div class="subscribe"></div>
              </div>
              <div class="share-container">
                <div class="setting"></div>
                <div class="share"></div>
                <div class="small-circle"></div>
              </div>
            </div>
            <div class="comment-container">
              <div class="comment1"></div>
              <div class="comment2"></div>
            </div>
          </div>
        </div>
        <div class="playlist">
          <div class="next-video-container">
            <div class="thumbnail"></div>
            <div class="thumbnail-title-container">
              <div class="thumbnail-title1"></div>
              <div class="thumbnail-title2"></div>
            </div>
          </div>
          <div class="next-video-container">
            <div class="thumbnail"></div>
            <div class="thumbnail-title-container">
              <div class="thumbnail-title1"></div>
              <div class="thumbnail-title2"></div>
            </div>
          </div>
          <div class="next-video-container">
            <div class="thumbnail"></div>
            <div class="thumbnail-title-container">
              <div class="thumbnail-title1"></div>
              <div class="thumbnail-title2"></div>
            </div>
          </div>
          <div class="next-video-container">
            <div class="thumbnail"></div>
            <div class="thumbnail-title-container">
              <div class="thumbnail-title1"></div>
              <div class="thumbnail-title2"></div>
            </div>
          </div>
          <div class="next-video-container">
            <div class="thumbnail"></div>
            <div class="thumbnail-title-container">
              <div class="thumbnail-title1"></div>
              <div class="thumbnail-title2"></div>
            </div>
          </div>
          <div class="next-video-container">
            <div class="thumbnail"></div>
            <div class="thumbnail-title-container">
              <div class="thumbnail-title1"></div>
              <div class="thumbnail-title2"></div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </body>
</html>
