:root{
    --black-color:#171717;
    --first-color:#d4d4d4;
    --second-color:#e5e5e5;
    --third-color:#f5f5f5;
    --border-color:#e5e7eb;
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

.container{
    width: 100%;
    height: 100%;
    /* background-color: red; */

}

.nav-container{
    width: 100%;
    height: 14%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
}

.left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
    /* align-items: center; */
    
}

.logo{
    width: 12%;
    height: 30%;
    background-color: var(--first-color);
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    margin-top:0.25rem ;
}

.search-bar-items{
    width: 80%;
    height: 100%;
    /* background-color: lightpink; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.search-bar{
    width: 100%;
    height: 50%;
    background-color: var(--third-color);
    border-radius: 999px;
    border: 2px solid var(--border-color);
}

.items{
    width: 100%;
    height: 40%;
    display: flex;
    gap: 1rem;
}

.box{
    width: 10%;
    height:80%;
    background-color: var(--second-color);
    border-radius: 0.25rem;
}

.first-box1{
    background-color: var(--black-color);
}

.corner-container{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    /* background-color: green; */
    gap: 1rem;
    padding-top: 1rem;
}

.square{
    width: 5%;
    height: 35%;
    background-color: var(--second-color);
}

.circle{
    width: 2rem;
    height: 2rem;
    background-color: var(--second-color);
    border-radius: 50%;
}

.main-container{
    width: 50%;
    height: 86%;
    /* background-color: black; */
    margin-left: 10%;
    padding: 0.75%;
    display: flex;
    flex-direction: column;
    /* gap: 3rem; */
    
}

.first-div{
    width: 25%;
    height: 2%;
    background-color: var(--second-color);
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

.search-list-container{
    width: 100%;
    height: 10%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 0;
    /* gap: 1rem; */
    
}

.search-line1{
    width: 40%;
    height: 12%;
    background-color: var(--third-color);
    border-radius: 0.25rem;
    border: 1px solid var(--border-color);
    
}
.search-line2{
    width: 60%;
    height: 20%;
    background-color: var(--first-color);
    border-radius: 0.25rem;
    border: 1px solid var(--border-color);
}
.search-line3{
    width: 90%;
    height: 18%;
    background-color: var(--third-color);
    border-radius: 0.25rem;
    border: 1px solid var(--border-color);

}
.search-line4{
    width: 70%;
    height: 18%;
    background-color: var(--third-color);
    border-radius: 0.25rem;
    border: 1px solid var(--border-color);
}
