
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border:2px solid black;
    padding: 2rem;

}

.nav-item{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.nav-item:hover{
    color: blue;
}