<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="container">
      <div class="container-1">
        <div class="container1-first"></div>
        <div class="container1-second">
          <div class="first-corner-box1"></div>
          <div class="first-corner-box2"></div>
        </div>
      </div>
      <div class="container-2">
        <div class="container2-first">
          <div class="second-corner"></div>
          <div class="second-corner"></div>
          <div class="second-corner"></div>
        </div>
        <div class="container2-second"></div>
      </div>
      <div class="container-3">

        <div class="row1">
            <div class="col1 col "></div>
            <div class="col2 col"></div>
            <div class="col3 col"></div>
            <div class="col4 col"></div>
            <div class="col5 col"></div>
            <div class="col6 col"></div>
            <div class="col7 col"></div>
            <div class="col8 col">
                
            </div>
        </div>
        <div class="row">
            <div class="col1 col"></div>
            <div class="col2 col"></div>
            <div class="col3 col"></div>
            <div class="col4 col"></div>
            <div class="col5 col"></div>
            <div class="col6 col"></div>
            <div class="col7 col"></div>
            <div class="col8 col">
                <div class="small-box"></div>
                <div class="small-box"></div>
            </div>
        </div>
        <div class="row">
            <div class="col1 col"></div>
            <div class="col2 col"></div>
            <div class="col3 col"></div>
            <div class="col4 col"></div>
            <div class="col5 col"></div>
            <div class="col6 col"></div>
            <div class="col7 col"></div>
            <div class="col8 col">
                <div class="small-box"></div>
                <div class="small-box"></div>
            </div>
        </div>
        <div class="row">
            <div class="col1 col"></div>
            <div class="col2 col"></div>
            <div class="col3 col"></div>
            <div class="col4 col"></div>
            <div class="col5 col"></div>
            <div class="col6 col"></div>
            <div class="col7 col"></div>
            <div class="col8 col">
                <div class="small-box"></div>
                <div class="small-box"></div>
            </div>
        </div>
        <div class="row">
            <div class="col1 col"></div>
            <div class="col2 col"></div>
            <div class="col3 col"></div>
            <div class="col4 col"></div>
            <div class="col5 col"></div>
            <div class="col6 col"></div>
            <div class="col7 col"></div>
            <div class="col8 col">
                <div class="small-box"></div>
                <div class="small-box"></div>
            </div>
        </div>
        <div class="row">
            <div class="col1 col"></div>
            <div class="col2 col"></div>
            <div class="col3 col"></div>
            <div class="col4 col"></div>
            <div class="col5 col"></div>
            <div class="col6 col"></div>
            <div class="col7 col"></div>
            <div class="col8 col">
                <div class="small-box"></div>
                <div class="small-box"></div>
            </div>
        </div>
        <div class="row">
            <div class="col1 col"></div>
            <div class="col2 col"></div>
            <div class="col3 col"></div>
            <div class="col4 col"></div>
            <div class="col5 col"></div>
            <div class="col6 col"></div>
            <div class="col7 col"></div>
            <div class="col8 col">
                <div class="small-box"></div>
                <div class="small-box"></div>
            </div>
        </div>
        <div class="row">
            <div class="col1 col"></div>
            <div class="col2 col"></div>
            <div class="col3 col"></div>
            <div class="col4 col"></div>
            <div class="col5 col"></div>
            <div class="col6 col"></div>
            <div class="col7 col"></div>
            <div class="col8 col">
                <div class="small-box"></div>
                <div class="small-box"></div>
            </div>
        </div>

       


      </div>

      <div class="container-4">
        <div class="container4-first"></div>
        <div class="container4-second">
          <div class="footer-box"></div>
          <div class="footer-box box-2"></div>
          <div class="footer-box"></div>
          <div class="footer-box"></div>
          <div class="footer-box"></div>
        </div>
      </div>
    </div>
  </body>
</html>
