:root{
    --black-color:#171717;
    --first-color:#e5e5e5;
    --second-color:#f5f5f5;
    --border-color:#e5e7eb;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.container{
    /* background-color: black; */
    width: 100%;
    height: 100%;
}

.container-1{
    width: 100%;
    height: 7%;
    /* background-color: blue; */
    border: 1px  solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.container1-first{
    width: 10%;
    height: 80%;
    background-color: var(--first-color);
    border: 1px  var(--border-color);
    border-radius: 0.25rem;
}

.container1-second{

    width: 15rem;
    height: 100%;
    /* background-color: var(--first-color); */
    display: flex;
    /* gap: 2rem; */
    justify-content: space-between;
    align-items: center;

}
.first-corner-box1{
    width:8rem;
    height: 80%;
    background-color: var(--second-color);
    border: 1px  var(--border-color);
    border-radius: 0.25rem;

}

.first-corner-box2{

    width: 6rem;
    height: 80%;
    background-color: var(--black-color);
    border: 1px  var(--border-color);
    border-radius: 0.25rem;
}










.container-2{
    width: 100%;
    height: 6.5%;
    /* background-color: purple; */
    border: 1px  var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-top: none;
}

.container2-first{
    width: 25rem;
    height: 1.75rem;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container2-second{
    width: 12rem;
    height: 1.75rem;
    background-color: var(--second-color);
    border: 1px  var(--border-color);
}
.second-corner{
    width: 32%;
    height: 100%;
    background-color: var(--second-color);
    border: 1px  var(--border-color);
    border-radius: 0.75rem;
}









.container-3{
    width: 100%;
    height:80%;
    /* background-color: red; */
    border: 1px solid var(--border-color);
}

.row{
    width: 100%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.75rem;
    border: 1px solid var(--border-color);
    
}

.row:hover{
    background-color: var(--second-color);
}

.row1{
    width: 100%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.75rem;
    border: 1px solid var(--border-color);
    border-top: none;
    background-color: var(--second-color);
}

.row1 div{
    background-color: var(--first-color);
}

.col{
    margin: 0 0.5rem;
}
.col1{
    width: 3rem;
    height: 1.25rem;
    border-radius: 0.25rem;
    background-color: var(--first-color);
}
.col2{
    width: 12rem;
    height: 1.25rem;
    border-radius: 0.25rem;
    background-color: var(--second-color);
    border: 1px solid var(--border-color);
}
.col3{
    width: 10rem;
    height: 1.25rem;
    border-radius: 0.25rem;
    background-color: var(--second-color);
    border: 1px solid var(--border-color);
}
.col4,.col5{
    width: 8rem;
    height: 1.25rem;
    border-radius: 0.25rem;
    background-color: var(--second-color);
    border: 1px solid var(--border-color);
}
.col6{
    width: 8rem;
    height: 1.25rem;
    border-radius: 0.25rem;
    background-color: var(--first-color);
    border: 1px solid var(--border-color);
}
.col7{
    flex-grow: 1;
}

.col8{
    width: 5rem;
    height: 1.5rem;
    border-radius: 0.25rem;
    /* background-color: var(--second-color); */
    /* border: 1px solid var(--border-color); */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.small-box{
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--first-color);
}




.container-4{
    width: 100%;
    height: 6.5%;
    /* background-color: blue; */
    border: 1px  var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
    
    
}

.container4-first{
    width: 7%;
    height: 70%;
    background-color: var(--first-color);
    border: 1px  var(--border-color);
    border-radius: 0.25rem;
    flex-shrink: 1;
}

.container4-second{
    width: 12%;
    height: 3rem;
    /* background-color: var(--first-color); */
    /* border: 1px  var(--border-color); */
    /* border-radius: 0.25rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    
}

.footer-box{
    width: 2rem;
    height: 2rem;
    background-color: var(--second-color);
}

.box-2{
    background-color: var(--first-color);
}