<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="container">
      <div class="navigation">
        <div class="nav-item1"></div>
        <div class="nav-item2"></div>
        <div class="nav-item3"></div>
      </div>

      <div class="wrapper">
        <div class="sidebar">
          <div class="sidebar-container-box1">
            <div class="box1"></div>
            <div class="box2"></div>
          </div>
          <div class="sidebar-container-box2">
            <div class="box3"></div>
            <div class="box4"></div>
          </div>
          <div class="sidebar-container-box3">
            <div class="box5"></div>
            <div class="box6"></div>
            <div class="box6"></div>
            <div class="box6"></div>
          </div>
          <div class="sidebar-container-box4">
            <div class="box7"></div>
            <div class="box6"></div>
            <div class="box6"></div>
          </div>
        </div>
        <div class="main-container">
          <div class="first-main">
            <div class="top-box1"></div>
            <div class="top-box2"></div>
          </div>
          <div class="card-container">
            <div class="card">
              <div class="upper"></div>
              <div class="lower">
                <div class="lower-box1"></div>
                <div class="lower-box2"></div>
                <div class="lower-box3"></div>
              </div>
            </div>
            <div class="card">
              <div class="upper"></div>
              <div class="lower">
                <div class="lower-box1"></div>
                <div class="lower-box2"></div>
                <div class="lower-box3"></div>
              </div>
            </div>
            <div class="card">
              <div class="upper"></div>
              <div class="lower">
                <div class="lower-box1"></div>
                <div class="lower-box2"></div>
                <div class="lower-box3"></div>
              </div>
            </div>
            <div class="card">
              <div class="upper"></div>
              <div class="lower">
                <div class="lower-box1"></div>
                <div class="lower-box2"></div>
                <div class="lower-box3"></div>
              </div>
            </div>
            <div class="card">
              <div class="upper"></div>
              <div class="lower">
                <div class="lower-box1"></div>
                <div class="lower-box2"></div>
                <div class="lower-box3"></div>
              </div>
            </div>
            <div class="card">
              <div class="upper"></div>
              <div class="lower">
                <div class="lower-box1"></div>
                <div class="lower-box2"></div>
                <div class="lower-box3"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
