:root {
  --first-color: #E5E5E5;
  --second-color: #d4d4d4;
  --third-color: #f5f5f5;
  --black-color:#171717;
  --border-color:#e5e7eb;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
}

.navigation{
    /* background-color:blue ; */
    width: 100%;
    height: 4rem;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

.nav-item1{
    width: 8rem;
    height: 2rem;
    border: 2px solid var(--border-color);
    border-radius: 0.25rem;
    background-color: var(--black-color);
}
.nav-item2{
    width: 20rem;
    height: 2.5rem;
    border: px solid var(--border-color);
    border-radius: 9999px;
    background-color: var(--third-color);
}
.nav-item3{
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--border-color);
    border-radius: 50%;
    background-color: var(--first-color);
}






/* sidebar */


.sidebar{
    width: 18rem;
    height:calc(100vh - 4rem);
    border: 1px solid var(--border-color);
    border-top: none;
    padding: 1.5rem;

}


.sidebar-container-box1{
    width: 100%;
    height: 4.75rem;
    /* background-color: aqua; */
    margin: 1rem 0;
}
.sidebar-container-box2{
    width: 100%;
    height: 3rem;
    /* background-color: aqua; */
    margin: 1rem 0;
}
.sidebar-container-box3{
    width: 100%;
    height: 8rem;
    /* background-color: aqua; */
    margin: 1rem 0;
}
.sidebar-container-box4{
    width: 100%;
    height: 4.75rem;
    /* background-color: aqua; */
    margin: 1rem 0;
}

.box1,.box5{
    width: 5rem;
    border-radius: 0.25rem;
    height: 1.25rem;
    border: 1px solid var(--border-color);
    background-color: var(--second-color);
    margin-bottom: 0.5rem;
}
.box2,.box6,.box7,.box3,.box4{
    width: 100%;
    border-radius: 0.25rem;
    height: 2.5rem;
    border: 1px solid var(--border-color);
    background-color: var(--third-color);
}
.box6,.box7,.box3,.box4{
    height: 1.5rem;
    margin: 0.5rem 0;
}

.box7,.box3,.box4{
    width: 7rem;
    height: 1.25rem;
    background-color: var(--second-color);
}

.box3{
    width:6rem;
}
.box4{
    width: 100%;
    height: 0.5rem;
}



/* main*/

.wrapper{
    display: flex;
    width: 100%;
}

.main-container{
    width: calc(100vw - 18rem);
    height: 100%;
    /* background-color: blue; */
    height:calc(100vh - 4rem);
}

.first-main{
    width: 100%;
    height: 5rem;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.top-box1{
    width: 12rem;
    height: 1.5rem;
    background-color: var(--first-color);
}
.top-box2{
    width: 8rem;
    height: 2rem;
    background-color: var(--third-color);
}

.card-container{
    width: 100%;
    height: calc(100% - 5rem);
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
}

.card{
    width: 30%;
    height: 40%;
    border-radius: 0.75rem;
    border: 1px solid var(--border-color);
}

.upper{
    width: 100%;
    background-color: var(--first-color);
    height: 50%;
}

.lower{
    width: 100%;
    height: 50%;
    padding-left: 1rem;
    background-color: var(--third-color);
    padding-top: 1rem;
}

.lower-box1{

    width: 70%;
    height: 1.25rem;
    border-radius: 0.25rem;
    background-color: var(--first-color);
}

.lower-box2{
    width: 50%;
    height: 1.25rem;
    border-radius: 0.25rem;
    background-color: var(--first-color);
    margin-top: 0.5rem;
}

.lower-box3{
    width: 30%;
    height: 1.25rem;
    border-radius: 0.25rem;
    background-color: var(--second-color);
    margin-top: 1rem;
}