<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <div class="sidebar-first-container">
          <div class="side-box side-box1"></div>
          <div class="side-box"></div>
          <div class="side-box"></div>
          <div class="side-box"></div>
        </div>
        <div class="sidebar-second-container">
          <div class="side-box-circle"></div>
        </div>
      </div>
      <div class="main-container">
        <div class="main-first-box">
          <div class="head-box1-container"></div>
          <div class="head-box2-container">
            <div id="head-side-box1"></div>
            <div id="head-side-box2"></div>
          </div>
        </div>
        <div class="wrapper">
          <div class="main-second-box main-box">
            <div class="main-second-card">
              <div class="main-second-card-box1"></div>
              <div class="main-second-card-box2"></div>
              <div class="main-second-card-box3"></div>
            </div>
            <div class="main-second-card">
              <div class="main-second-card-box1"></div>
              <div class="main-second-card-box2"></div>
              <div class="main-second-card-box3"></div>
            </div>
            <div class="main-second-card">
              <div class="main-second-card-box1"></div>
              <div class="main-second-card-box2"></div>
              <div class="main-second-card-box3"></div>
            </div>
            <div class="main-second-card">
              <div class="main-second-card-box1"></div>
              <div class="main-second-card-box2"></div>
              <div class="main-second-card-box3"></div>
            </div>
          </div>
          <div class="main-third-box main-box">
            <div class="third-left-box">
                <div class="left-box-top"></div>
                <div class="left-box-bottom"></div>
            </div>
            <div class="third-right-box">
                <div class="right-box-top"></div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                
            </div>
          </div>
          <div class="main-fourth-box main-box">
            <div class="third-left-box fourth-box">
                <div class="left-box-top"></div>
                <div class="left-box-bottom"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
