:root{
    --black-color:#171717;
    --first-color:#e5e5e5;
    --second-color:#f5f5f5;
    --third-color:#d4d4d4;
    --border-color:#e5e7eb;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.sidebar{
    height: 100%;
    width: 4rem;
    background-color: var(--black-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.sidebar-first-container{
    /* border: 1px solid var(--border-color); */
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.side-box{
    width: 2.5rem;
    height: 2.5rem;
    border: 1px var(--border-color);
    margin: 0.5rem 0;
    background-color: #262626;
    border-radius: 0.25rem;
}

.side-box1{
    background-color: #404040;
}


.sidebar-second-container{
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-box-circle{

    width: 2.5rem;
    height: 2.5rem;
    background-color: #262626;
    border-radius: 50%;
}




/* Main container */


.main-container{
    width: calc(100vw - 4rem);
    height: 100%;
    /* background-color: blue; */

    display: flex;
    flex-direction: column;

}

.wrapper{
    width: 100%;
    height: 100%;
    padding:0 1rem;
    background-color: var(--border-color);
}



.main-first-box{
    width: 100%;
    height: 7%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.main-second-box{
    width: 100%;
    height: 20%;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.main-third-box{
    width: 100%;
    height: 50%;
    /* background-color: purple; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-fourth-box{
    width: 100%;
    height: 30%;
    /* background-color: black; */
}


.head-box1-container{
    width: 12rem;
    height: 1.5rem;
    border: 1px solid var(--border-color);
    background-color: #e5e5e5;
}


.head-box2-container{
    width: 11rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#head-side-box1{
    width: 8rem;
    height: 2rem;
    border-radius: 0.25rem;
    border: 1px  var(--border-color);
    background-color: var(--second-color);
}

#head-side-box2{
    width: 2rem;
    height: 2rem;
    border-radius: 0.25rem;
    border: 1px  var(--border-color);
    background-color: var(--second-color);
}


/*main second box child */

.main-second-card{
    width: 24%;
    height: 85%;
    padding: 0 1rem;

    /* background-color: blue; */
    border-radius: 0.75rem;
    border: 2px solid var(--border-color);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;
}

.main-second-card-box1{
    height: 1rem;
    width: 5rem;
    background-color: var(--first-color);
    border-radius: 0.25rem;
    border: 1px var(--border-color);
}

.main-second-card-box2{
    height: 2rem;
    width: 6rem;
    background-color: var(--third-color);
    border-radius: 0.25rem;
    border: 1px var(--border-color);
}

.main-second-card-box3{
    height: 0.75rem;
    width: 4rem;
    background-color: var(--second-color);
    border-radius: 0.25rem;
    border: 1px var(--border-color);
}


/* main-third-box child */

.third-left-box{
    width: 69%;
    height: 90%;
    background-color: white;
    border: 2px solid var(--border-color);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    gap: 1rem;
    padding: 1rem;
}

.third-right-box{
    width: 30%;
    height: 90%;
    background-color: white;
    border: 2px solid var(--border-color);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    /* gap: 7rem; */
}

.left-box-top{
    width: 15%;
    height:10%;
    background-color:var(--first-color);
    border-radius: 0.25rem;
}

.left-box-bottom{
    width: 99%;
    height: 80%;
    background-color:var(--second-color) ;
    border-radius: 0.25rem;
    
}

.fourth-box{
    width: 100%;
}


/*third-right-box childs */

.right-box-top{
    width: 23%;
    height: 5%;
    background-color:var(--first-color) ;
    border-radius: 0.25rem;
}

.circle-container{
    width: 100%;
    height: 95%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    width: 10rem;
    height: 10rem;
    background-color: white;
    border-radius: 50%;
    border: 1.3rem solid var(--first-color);
    border-top-color: #171717;
    
}