<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="left-corner"></div>
        <div class="right-corner">
          <div class="circle-container">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>

          <div class="right-corner-box"></div>
        </div>
      </div>

      <div class="main-container">
        <div class="card">
          <div class="wrapper">
            <div class="card-top">
              <div class="left-top"></div>
              <div class="right-top"></div>
            </div>

            <div class="message-box">
              <div class="first-line"></div>
              <div class="second-line"></div>
              <div class="last-line">
                <div class="box"></div>
                <div class="message-circle"></div>
              </div>
            </div>
            <div class="message-box">
              <div class="first-line"></div>
              <div class="second-line"></div>
              <div class="last-line">
                <div class="box"></div>
                <div class="message-circle"></div>
              </div>
            </div>
            <div class="message-box">
              <div class="first-line"></div>
              <div class="second-line"></div>
              <div class="last-line">
                <div class="box"></div>
                <div class="message-circle"></div>
              </div>
            </div>
          </div>

          <div class="footer"></div>
        </div>
        <div class="card">
          <div class="wrapper">
            <div class="card-top">
              <div class="left-top"></div>
              <div class="right-top"></div>
            </div>

            <div class="message-box">
              <div class="first-line"></div>
              <div class="second-line"></div>
              <div class="last-line">
                <div class="box"></div>
                <div class="message-circle"></div>
              </div>
            </div>
            <div class="message-box">
              <div class="first-line"></div>
              <div class="second-line"></div>
              <div class="last-line">
                <div class="box"></div>
                <div class="message-circle"></div>
              </div>
            </div>
            <div class="message-box">
              <div class="first-line"></div>
              <div class="second-line"></div>
              <div class="last-line">
                <div class="box"></div>
                <div class="message-circle"></div>
              </div>
            </div>
            <div class="message-box">
              <div class="first-line"></div>
              <div class="second-line"></div>
              <div class="last-line">
                <div class="box"></div>
                <div class="message-circle"></div>
              </div>
            </div>
          </div>

          <div class="footer"></div>
        </div>
        <div class="card">
          <div class="wrapper">
            <div class="card-top">
              <div class="left-top"></div>
              <div class="right-top"></div>
            </div>

            <div class="message-box">
              <div class="first-line"></div>
              <div class="second-line"></div>
              <div class="last-line">
                <div class="box"></div>
                <div class="message-circle"></div>
              </div>
            </div>
            <div class="message-box">
              <div class="first-line"></div>
              <div class="second-line"></div>
              <div class="last-line">
                <div class="box"></div>
                <div class="message-circle"></div>
              </div>
            </div>
          </div>

          <div class="footer"></div>
        </div>
        <div class="card">
          <div class="wrapper">
            <div class="card-top">
              <div class="left-top"></div>
              <div class="right-top"></div>
            </div>

            <div class="message-box">
              <div class="first-line"></div>
              <div class="second-line"></div>
              <div class="last-line">
                <div class="box"></div>
                <div class="message-circle"></div>
              </div>
            </div>
            <div class="message-box">
              <div class="first-line"></div>
              <div class="second-line"></div>
              <div class="last-line">
                <div class="box"></div>
                <div class="message-circle"></div>
              </div>
            </div>
            <div class="message-box">
              <div class="first-line"></div>
              <div class="second-line"></div>
              <div class="last-line">
                <div class="box"></div>
                <div class="message-circle"></div>
              </div>
            </div>
          </div>

          <div class="footer"></div>
        </div>
        <div class="card">
          <div class="wrapper">
            <div class="card-top">
              <div class="left-top"></div>
              <div class="right-top"></div>
            </div>

            <div class="message-box">
              <div class="first-line"></div>
              <div class="second-line"></div>
              <div class="last-line">
                <div class="box"></div>
                <div class="message-circle"></div>
              </div>
            </div>
            <div class="message-box">
              <div class="first-line"></div>
              <div class="second-line"></div>
              <div class="last-line">
                <div class="box"></div>
                <div class="message-circle"></div>
              </div>
            </div>
            <div class="message-box">
              <div class="first-line"></div>
              <div class="second-line"></div>
              <div class="last-line">
                <div class="box"></div>
                <div class="message-circle"></div>
              </div>
            </div>
          </div>

          <div class="footer"></div>
        </div>
      
      </div>
    </div>
  </body>
</html>
