:root{
    --black-color:#171717;
    --first-color:#d4d4d4;
    --second-color:#e5e5e5;
    --third-color:#f5f5f5;
    --border-color:#e5e7eb;
    --dark-color:#a3a3a3;
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

.container{
    width: 100%;
    height: 100%;
    background-color: var(--third-color);
}

.navbar{
    width: 100%;
    height: 7%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.left-corner{
    width: 10%;
    height: 60%;
    background-color: var(--second-color);
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
}

.right-corner{
    width: 15%;
    height: 60%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.circle-container{
    width: 40%;
    height: 100%;
    display: flex;

}

.circle{
    width: 2rem;
    height: 2rem;
    background-color: var(--first-color);
    border-radius: 50%;
    margin-right: -10px;
    border: 2px solid var(--border-color);
}

.right-corner-box{
    width: 50%;
    height: 100%;
    background-color: var(--second-color);
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
}



.main-container{
    min-width: 100%;
    height: 93%;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    overflow-x: auto;
    /* flex-wrap: wrap; */
}

.card{
    width: 290px;
    height: 90%;
    background-color: var(--second-color);
    border: 2px solid var(--border-color);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    padding:0 1rem;
}

.wrapper{
    width: 100%;
    height: 100%;
}

.card-top{
    width: 100%;
    height: 6%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;

    align-items: center;
}

.left-top{
    width: 40%;
    height: 50%;
    background-color: var(--dark-color);
    border-radius: 0.25rem;
}

.right-top{
    width: 10%;
    height: 50%;
    background-color: var(--dark-color);
}

.message-box{
    background-color: white;
    border: 2px solid var(--border-color);
    border-radius: 0.75rem;
    width: 100%;
    height: 14%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4%;
}

.first-line{
    width: 100%;
    height: 15%;
    background-color: var(--second-color);
    border: 1px  var(--border-color);
    border-radius: 0.25rem;
    
}

.second-line{
    width: 80%;
    height: 15%;
    background-color: var(--third-color);
    border: 1px  var(--border-color);
    border-radius: 0.25rem;
}

.last-line{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box{

    width: 25%;
    height: 50%;
    background-color: var(--second-color);
    border: 2px solid var(--border-color);
    border-radius: 0.25rem;

}

.message-circle{
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--second-color);
    border: 2px solid var(--border-color);
    border-radius: 50%;
}

.footer{
    width: 100%;
    height: 6%;
    background-color: var(--first-color);
    border: 2px solid var(--border-color);
    border-radius: 0.75rem;
    align-self: flex-end;
    margin-bottom: 2%;
}